<div class="smar-app-navbar">
  <div class="smar-app-navbar__container">
    <!-- Mobile Navigation Menu Button-->
    <div class="smar-app-navbar__container__mobile-menu">
      <button
        (click)="toggleSidebar()"
        type="button"
        class="smar-app-navbar__container__mobile-menu__button"
        aria-expanded="false">
        <img src="assets/icons/logo.png" alt="" />
      </button>
    </div>

    <div class="smar-app-navbar__container__logo">
      <a routerLink="/"> </a>
    </div>
  </div>
</div>
